<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>a</servlet-name>
    <servlet-class>com.renhouse.servlet.a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>GlobalFilter</filter-name>
    <filter-class>com.renhouse.servlet.filter.GlobalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GlobalFilter</filter-name>
    <url-pattern>/NULL</url-pattern><!--暂空，等待前端页面编写-->
  </filter-mapping>
</web-app>
